<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vaccine Misinformation Detection</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="/static/image/png" href="/static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="header">
  <a href="#default" class="logo"><img src="/static/images/icons/logo1.png"></a>
  <div class="header-right">
    <a href="{{ url_for('home') }}">Home</a>
    <a class="active"  href="{{ url_for('contact') }}">Contact</a>
    <a href="{{ url_for('about') }}">About</a>
  </div>
</div>
	<div class="bg-img1 size1 overlay1" style="background-image: url('/static/images/icons/bg01.jpg');">
		<div class="size1 p-l-15 p-r-15 p-t-30 p-b-50"  >

			<p style ="text-align:center;"><img src="/static/images/icons/logo.png" alt="LOGO" width="100" height="100" center></p>
			<div class="wsize1 m-lr-auto">
				<p class="txt-center l1-txt1 p-b-60">
					Get <span class="l1-txt2">In </span>Touch
				</p>

		<div class="row">
		  <div class="column2 text-center" style="font-family: Poppins-Regular;color:black; background-color:#FEFB66;">
			<h2 class="txt-center">Call Us</h2><br>
			<a href=""><img src="/static/images/icons/Whatsapp.png" alt="Whatsapp" width="100" height="100"></a><br>
			  <p>Mobile Number : +60 19- 675 5114</p>
		  </div>
		  <div class="column2" style="font-family: Poppins-Regular;color:black; background-color:#FFFD81; border-opacity:50%;">
			  <h2 class="txt-center">Email Us</h2><br>
			<a href=""><img src="/static/images/icons/email.png" alt="Whatsapp" width="100" height="100"></a><br>
			  <p>Email: hannanianis26@gmail.com</p>
		  </div>
		</div>
			</div>
		</div>
	</div>
</body>
</html>